.w3-rosa {color:#000000 !important; background-color:#BF2441 !important}
.w3-cinza-escuro {color:#ffffff !important; background-color:#1C1D26 !important}
.w3-cinza-claro {color:#ffffff !important; background-color:#848C8B !important}
.w3-laranja {color:#000000 !important; background-color:#F27141 !important}
.w3-vermelho,.w3-hover-vermelho:hover{color:#ffffff!important;background-color:#D92B2B!important}
.w3-vermelho-texto{color:#D92B2B !important;}
.w3-hover-texto:hover{color:#D92B2B!important;background-color:#1C1D26!important}
.w3-verde,.w3-hover-verde:hover{color:#48C456!important;}
.w3-azul,.w3-hover-azul:hover{color:#0073B1!important;}

.tira-sublinhado {
    text-decoration: none;
}

.button {
    background-color: #BF2441;
}

.image-container {
    position: relative; /* Necessário para o posicionamento da legenda */
    display: inline-block; /* Faz as imagens e legendas ficarem na mesma linha */
    margin: 10px; /* Espaço entre as imagens */
  }
  
  .image-container .caption {
    position: absolute; /* A legenda será posicionada em cima da imagem */
    bottom: 0; /* Posiciona a legenda na parte inferior da imagem */
    left: 0;
    border-radius: 5%;
    width: 100%; /* Faz a legenda ocupar toda a largura da imagem */
    background-color: rgba(191, 36, 64, 0.8); /* Fundo escuro e transparente */
    color: #ffffff; /* Cor do texto da legenda */
    font-size: 1rem; /* Tamanho do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno */
    opacity: 0; /* Inicialmente, a legenda está invisível */
    transition: opacity 0.3s ease; /* Transição suave de opacidade */
  }
  
  .image-container:hover .caption {
    opacity: 1; /* Torna a legenda visível quando o mouse passa sobre a imagem */
  }

/* Color Theme Swatches in Hex */
.Arquitetura-1-hex { color: #BF2441; }
.Arquitetura-2-hex { color: #1C1D26; }
.Arquitetura-3-hex { color: #848C8B; }
.Arquitetura-4-hex { color: #F27141; }
.Arquitetura-5-hex { color: #D92B2B; }

/* Color Theme Swatches in RGBA */
.Arquitetura-1-rgba { color: rgba(191, 36, 64, 1); }
.Arquitetura-2-rgba { color: rgba(28, 28, 38, 1); }
.Arquitetura-3-rgba { color: rgba(131, 140, 138, 1); }
.Arquitetura-4-rgba { color: rgba(242, 112, 65, 1); }
.Arquitetura-5-rgba { color: rgba(216, 43, 43, 1); }


